.login {
  padding: 6px 35px;
}

.account {
  display: inline-block;
  vertical-align: middle;
  &:hover {
    fill: var(--dodger-blue);
  }
}

.profileBtn {
  background: var(--white) !important;
  display: flex;
  align-items: center;
}

.profileIcon {
  fill: var(--waterloo);

  &:hover {
    fill: var(--dodger-blue);
  }
}